services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: inscribcordoba-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    networks:
      - app-network
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: inscribcordoba-frontend
    ports:
      - "80:80"
    environment:
      - REACT_APP_API_URL=http://localhost:4000
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge
