/* BusquedaTutores.scss */
.container-busqueda-tutores {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    padding: 16px;

    .data-grid {
        width: 100%;
        height: calc(100vh - 200px); // Ajusta la altura considerando otros elementos en la página

        .MuiDataGrid-root {
            font-size: 18px; /* Default font size */
        }

        .MuiDataGrid-cell, .MuiDataGrid-columnHeaders, .MuiDataGrid-footerContainer {
            font-size: 18px; /* Default font size for cells, headers, and footer */
        }
    }

    .titulo {
        margin-bottom: 32px;
    }

    .volver-button {
        margin-top: 16px;
    }
}

@media (max-width: 600px) {
    .container-busqueda-tutores {
        .data-grid {
            .MuiDataGrid-root {
                font-size: 10px; /* Smaller font size for mobile */
            }

            .MuiDataGrid-cell, .MuiDataGrid-columnHeaders, .MuiDataGrid-footerContainer {
                font-size: 10px; /* Smaller font size for mobile */
            }

            width: 100%;
        }

        
    }
}
