

.container-card-tutores {
    display: flex;
    flex-direction: column;

   
    gap: 50px;
   
    height: 100%;


    .card-tutores-encabezado {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .card-tutores-datos {
        display: flex;
        flex-direction: row;
        align-items: center;
       
        gap: 10px;
    }

    .card-tutores-footer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;

        button {
            background-color: #1c7cd5;
            margin-left: auto;
        }
    }
}