//Primarios
$CBA_DarkBlue: #073256;
$CBA_Blue:#00519C ;
$CBA_lightBlue: #53AAE0;
$CBA_Green:#5CB85C ;
$CBA_Orange: #F0AD4E;
$CBA_DarkOrange: #D38037;
//Grices
$CBA_Grey1: #29343e;
$CBA_Grey2:#5c6f82 ;
$CBA_Grey3: #899dac;
$CBA_Grey4:#dbe5e9 ;
$CBA_Grey5: #edf0f5;
$CBA_Grey6: #f7fbfd;
//Secundarios
$CBA_Error: #d9534f;
$CBA_Info:#1c7cd5 ;
$CBA_Correct: #5cb85c;
$CBA_Alert: #ee9800;




