.container-cronograma {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0px !important;

    .cabecera {
        display: flex;
        flex-direction: column;
    }

    .cronograma {
        height: 400px;
        width: 100%;
    }
}