.fab-alargado{
   
    .agregar{
        background-color: $CBA_Info;
        color: white;
    }
    .quitar{
        background-color: $CBA_Error;
        color: white;
    }
    .verAutorizador{
        background-color: $CBA_Info;
        color: white;
    }
}