
@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideRg.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideRg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideRgIt.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideRgIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideLt.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideLtIt.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideSmBd.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideSmBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideSmBdIt.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideSmBdIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideBd.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('../assets/fonts/GeogrotesqueSharp-WideBdIt.woff2') format('woff2'),
         url('../assets/fonts/GeogrotesqueSharp-WideBdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
