.grid-container-formulario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo titulo titulo"
        "select-ministerio select-ministerio  select-ministerio"
        "select-area select-area select-area"
        "select-curso select-curso select-curso"
        "card-autorizador card-info1 card-info3"
        "card-autorizador card-info2 card-info3"
        "select-medio-inscripcion select-medio-inscripcion  select-medio-inscripcion"
        "select-plataforma-dictado select-plataforma-dictado  select-plataforma-dictado"
        "input input input"
        "card-fecha-inscripcion card-fechas-cursada card-tutores"
        "submit submit submit";
    grid-gap: 20px;
    margin-left: 250px;
    margin-right: 250px;

    .select-ministerio {
        grid-area: select-ministerio;
    }

    .select-area {
        grid-area: select-area;
    }

    .select-curso {
        grid-area: select-curso;
    }

    .card-autorizador {
        grid-area: card-autorizador;
    }

    .card-info1 {
        grid-area: card-info1;
    }

    .card-info2 {
        grid-area: card-info2;
    }

    .card-info3 {
        grid-area: card-info3;
    }

    .select-medio-inscripcion {
        grid-area: select-medio-inscripcion;
    }

    .input {
        grid-area: input;
        
    }

   

    .card-fecha-inscripcion {
        grid-area: card-fecha-inscripcion;
    }

    .card-fechas-cursada {
        grid-area: card-fechas-cursada;
    }

    .submit {
        grid-area: submit;
    }

    .card-tutores {
        grid-area: card-tutores;
    }

    .select-plataforma-dictado {
        grid-area: select-plataforma-dictado;
    }

    .titulo {
        grid-area: titulo;
    }
}

@media (max-width: 1375px) {
    .grid-container-formulario {
      grid-template-columns: 1fr;
      grid-template-areas:
        "titulo"
        "select-ministerio"
        "select-area"
        "select-curso"
        "card-autorizador"
        "card-info1"
        "card-info2"
        "card-info3"
        "select-medio-inscripcion"
        "select-plataforma-dictado"
        "input"
        "card-fecha-inscripcion"
        "card-fechas-cursada"
        "card-tutores"
        "submit";
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 25px;

      .titulo-principal{
        font-size: 20px;
      }

      .input{
       
        display: flex;
        flex-direction: column;
        gap: 20px;

        > * {
            width: 100%;
        }
      }
    }
  }