.grid-container-formulario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo titulo titulo"
        "select-ministerio select-area  select-curso"
        "select-medio-inscripcion select-plataforma-dictado  select-tipo-capacitacion"
        "input . ."
        "tutores tutores tutores"
       
        "submit submit submit";
    grid-gap: 20px;
    margin-left: 250px;
    margin-right: 250px;

    .select-ministerio {
        grid-area: select-ministerio;
    }

    .select-area {
        grid-area: select-area;
    }

    .select-curso {
        grid-area: select-curso;
    }

    .select-tipo-capacitacion {
        grid-area: select-tipo-capacitacion;
    }

  

    .select-medio-inscripcion {
        grid-area: select-medio-inscripcion;
    }

    .input {
        grid-area: input;
        //Tiene que estar uno al lado del otro de izquierda a derecha
        display: flex;
        flex-direction: row;
        gap: 10px;
        
        
    }

   .tutores{
       grid-area: tutores;

       display: flex;
       flex-direction: column;
    
      
   }

   
    .submit {
        grid-area: submit;
    }

   

    .select-plataforma-dictado {
        grid-area: select-plataforma-dictado;
    }

    .titulo {
        grid-area: titulo;
        
    }
}

@media (max-width: 1375px) {
    .grid-container-formulario {
      grid-template-columns: 1fr;
      grid-template-areas:
        "titulo"
        "select-ministerio"
        "select-area"
        "select-curso"
        "select-medio-inscripcion"
        "select-plataforma-dictado"
        "select-tipo-capacitacion"
        "input"
        "submit";
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 25px;

      .titulo-principal{
        font-size: 20px;
      }

      .input{
       
        display: flex;
        flex-direction: column;
        gap: 20px;

        > * {
            width: 100%;
        }
      }
    }
  }