@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

// Fonts
@import './style/fonts';

// Variables
@import './components/colors';
//Componentes


@import "./style/formulario";
@import "./style/cursos";
@import "./style/botonCircular";
@import "./style/fabAlargado";
@import "./style/cohorte";
@import "./style/cronograma";
@import "./style/altaBajaModificacion";
@import "./style/altaCurso";
@import "./style/altaSimple";
@import "./style/altaArea";
@import "./style/altaPersona";
@import "./style/altaTutores";
@import "./style/button";
@import "./style/textfield";
@import "./style/tituloPrincipal";
@import "./style/subtituloPrincipal";
@import "./style/autocomplete";
@import "./style/alert";
@import "./style/altaUsuario";
@import "./style/login";
@import "./style/cambioContrasenia";
@import "./style/RestriccionesFechasInicioCursada";
@import "./style/linkIntereses";
@import "./style/home";

// Hide MUI X License Watermark
.MuiLicenseInfo-root {
    display: none !important;
}

.MuiWatermark-root {
    display: none !important;
}